<div class="main-view" id="main-view" role="main">
	<div class="billboard-panel" role="region" arial-label="Nội dung nổi bật">
		<%= react_component("Billboard") %>
	</div>
	<%= react_component("Index") %>
</div>
